{% sw_extends '@Storefront/storefront/base.html.twig' %}


{% block base_content %}
    <div class="container-main">
        <div class="cms-page eccb-outer-container" style="min-height: 100vh;">

             {{ dump() }}

            <div class="row mb-3">
                <div class="col-lg-4 col-md-5 col-12">
                    <div class="card">
                        {% if entry.media %}
                            {% sw_thumbnails 'candy-bag-set' with {
                                media: entry.media,
                                sizes: {
                                    'default': '800px'
                                },
                                attributes: {
                                    'class': 'img-fluid candy-bag-set',
                                    'alt': entry.name,
                                    'title': entry.name
                                }
                            } %}
                        {% else %}
                            {% sw_icon 'placeholder' style {
                                'size': 'fluid'
                            } %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-8 col-md-7 col-12">
                    <div class="card-body">
                        <h1>{{ entry.name }}</h1>
                        <p class="card-text ec-entity-description">{{ entry.description }}</p>
                    </div>
                </div>
            </div>
            <div id="eccb_storefront_app">
                <App/>
            </div>
        </div>
    </div>
{% endblock %}

{% block base_script_router %}
    <script>
        window.stepSetEntityId = '{{ entry.id }}';
        window.img = {};
        window['img']['next'] = '{{ asset('storefront/img/next.svg', '@EventCandyCandyBags') }}';
        window['img']['last'] = '{{ asset('storefront/img/last.svg', '@EventCandyCandyBags') }}';
        window['img']['placeholder'] = '{{ asset('storefront/img/placeholder.svg', '@EventCandyCandyBags') }}';
        window['accessKey'] = '{{ context.salesChannel.accessKey }}';
        window['contextToken'] = '{{ context.token }}';
        window['languageId'] = '{{ context.salesChannel.languageId }}'
    </script>
    {{ parent() }}
{% endblock %}

