{% sw_extends '@Storefront/storefront/base.html.twig' %}
{# {% sw_extends '@Storefront/storefront/page/content/index.html.twig' %} #}


{% block base_content %}
    <div class="container-main">
        <div class="cms-page eccb-outer-container" style="min-height: 100vh;">
            <div class="row mb-3">
                <div class="col-lg-4 col-md-5 col-12">
                    <div class="card">
                        {% if entry.media %}
                            {% sw_thumbnails 'candy-bag-set' with {
                                media: entry.media,
                                sizes: {
                                    'default': '800px'
                                },
                                attributes: {
                                    'class': 'img-fluid candy-bag-set',
                                    'alt': entry.name,
                                    'title': entry.name
                                }
                            } %}
                        {% else %}
                            {% sw_icon 'placeholder' style {
                                'size': 'fluid'
                            } %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-8 col-md-7 col-12">
                    <div class="card-body">
                        <h1>{{ entry.translated.name }}</h1>
                        <div class="card-text ec-entity-description">{{ entry.translated.description|raw }}</div>
                    </div>
                    <div class="pt-2">

                        {% for stepSet in stepSetNavigation %}
                            <a href="{{ seoUrl('eccb.candybags', {'stepSetId': stepSet.id}) }}" style="text-decoration: none;">
                                <button type="button" class="btn btn-outline-primary">{{ stepSet.translated.name }}</button>&nbsp;&nbsp;
                            </a>
                        {% endfor %}
                        <span>{{ 'candy-bags.cbMenuDescription'|trans|raw }}</span>
                    </div>
                </div>
            </div>
            {% if entry.active %}
                <div id="eccb_storefront_app">
                    <App/>
                </div>
            {% else %}
                <row>
                    <div class="col-12">
                        <h3>{{ 'candy-bags.inactive'|trans|raw }}</h3>
                    </div>
                </row>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block base_script_router %}
    <script>
        window.stepSetEntityId = '{{ entry.id }}';
        window.img = {};
        window['img']['next'] = '{{ asset('storefront/img/next.svg', '@EventCandyCandyBags') }}';
        window['img']['last'] = '{{ asset('storefront/img/last.svg', '@EventCandyCandyBags') }}';
        window['img']['close'] = '{{ asset('storefront/img/close.svg', '@EventCandyCandyBags') }}';
        window['img']['arrowRight'] = '{{ asset('storefront/img/arrow-right.svg', '@EventCandyCandyBags') }}';
        window['img']['placeholder'] = '{{ asset('storefront/img/placeholder.svg', '@EventCandyCandyBags') }}';
        window['accessKey'] = '{{ context.salesChannel.accessKey }}';
        window['contextToken'] = '{{ context.token }}';
        window['languageId'] = '{{ context.salesChannel.languageId }}';
        window['currencySymbol'] = '{{ context.currency.symbol }}';

        window.snippets = {};
        window['snippets']['addToCart'] = '{{ 'candy-bags.addToCart'|trans|raw }}';
        window['snippets']['selected'] = '{{ 'candy-bags.selected'|trans|raw }}';
        window['snippets']['basePrice'] = '{{ 'candy-bags.basePrice'|trans|raw }}';
        window['snippets']['closeProductDataModal'] = '{{ 'candy-bags.closeProductDataModal'|trans|raw }}';
        window['snippets']['printProductData'] = '{{ 'candy-bags.printProductData'|trans|raw }}';
        window['snippets']['notActive'] = '{{ 'candy-bags.notActive'|trans|raw }}';
        window['snippets']['productDetails'] = '{{ 'candy-bags.productDetails'|trans|raw }}';

        window.config = {};
        // ToDo: fix this
        window.config = '{{ shopware.config.EventCandyCandyBags.config.pdButtonType }}';

    </script>
    {{ parent() }}
{% endblock %}

